<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Suchary - lista użytkowników</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <h1 class="header">Lista użytkowników</h1>

    <div id="wrapper">
        <table class="styled-table">
            <thead>
            <tr>
                <th>Login</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">example_Login</td>
                <td th:text="${user.email}">example_email@gmail.com</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="inner-link" th:href="@{/index}"><div class="add-button" id="back-button">Powrót</div></a>

</body>
</html>